<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Nav Section</title>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light; background-color:aquamarine;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand"  href="#!"><img th:src="@{/images/IMG_1084.GIF}" height="60px" width="60px"></a>
        <a class="navbar-brand"  href="#!">Homemade</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/index}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" th:href="@{/indexByPrice}">By Lowest Price</a></li>
                        <li><a class="dropdown-item" th:href="@{/indexByDate}">By Latest Date</a></li>
                    </ul>
                </li>
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Chef Sign-Up</a></li>-->
                <li class="nav-item"><a class="nav-link" sec:authorize="!hasRole('CHEF')" th:href="@{/chefLogin}">Log-In/Sign-Up</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('CHEF')" th:href="@{/logout}">Log-Out</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/aboutUs}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('CHEF')" th:href="@{/chefProduct}">My Products</a></li>
            </ul>
            <h4  th:if="${chefName}!=null" th:text="'Welcome '+${chefName}+'!'+' '+' '" ></h4>
            <form th:action="@{/checkout}"  class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${count}==null?'0':${count}" ></span>
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>